<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Explorer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Welcome to the Recipe Explorer</h1>
    <form action="/recipes" method="post">
        <label for="ingredients">Enter Ingredients (comma-separated):</label>
        <input type="text" id="ingredients" name="ingredients" placeholder="e.g., chicken, rice, carrots" required>
        <button type="submit">Find Recipes</button>
    </form>
    <div style="text-align: center;">
    <img src="https://cdn.prod.website-files.com/64931d2aee18510b47f4bb1f/64ecfa1fad20286493de9568_r094aj5e10gjt9vzy87jjw7s3dq9xvy1.jpeg" alt="Delicious recipes">
    </div>

    <footer style="text-align: center; margin-top: 30px; font-size: 0.9em; color: #777;">
        <p>&copy; 2024 Jithendra. All rights reserved.</p>
    </footer>

</body>
</html>

